In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("D:/Python1/EndtoEndMLproject/Movie rcmd sys/tmdb_5000_movies.csv")
credits = pd.read_csv("D:/Python1/EndtoEndMLproject/Movie rcmd sys/tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
movies = movies.merge(credits, on='title')

In [5]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

genres
id
keywords
title
overview
cast
crew

In [7]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [8]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.duplicated().sum()

0

In [12]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [13]:
# ['Action', 'Adventure', 'Fantasy', 'Scifi']

In [14]:
import ast

In [15]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append((i['name']))
    return L

In [16]:
movies['genres']  = movies['genres'].apply(convert)

In [17]:
movies.sample(3)

,movie_id,title,overview,genres,keywords,cast,crew
2267,10448,Rapa Nui,Inter-tribal rivalry leads to a competition to...,[Adventure],"[{""id"": 930, ""name"": ""in love with enemy""}, {""...","[{""cast_id"": 1, ""character"": ""Noro"", ""credit_i...","[{""credit_id"": ""52fe43739251416c75010d95"", ""de..."
955,6623,The Peacemaker,When a train carrying atomic warheads mysterio...,"[Action, Thriller]","[{""id"": 720, ""name"": ""helicopter""}, {""id"": 949...","[{""cast_id"": 1, ""character"": ""Lt. Col. Thomas ...","[{""credit_id"": ""52fe445fc3a36847f80920f5"", ""de..."
1899,46261,Don't Be Afraid of the Dark,A young girl sent to live with her father and ...,"[Fantasy, Horror, Thriller]","[{""id"": 1299, ""name"": ""monster""}, {""id"": 9714,...","[{""cast_id"": 10, ""character"": ""Kim"", ""credit_i...","[{""credit_id"": ""52fe46edc3a36847f811a321"", ""de..."

In [18]:
movies['keywords']  = movies['keywords'].apply(convert)

In [19]:
movies.sample(3)

,movie_id,title,overview,genres,keywords,cast,crew
4210,206284,Grace Unplugged,A talented young singer and aspiring songwrite...,"[Drama, Music]",[christian],"[{""cast_id"": 12, ""character"": ""Gracie Trey"", ""...","[{""credit_id"": ""52fe4d19c3a368484e1d724d"", ""de..."
1350,8409,A Man Apart,When Vetter's wife is killed in a botched hit ...,"[Action, Drama]","[repayment, arbitrary law, cop, loss of wife]","[{""cast_id"": 1, ""character"": ""Sean Vetter"", ""c...","[{""credit_id"": ""52fe44a5c3a36847f80a21c7"", ""de..."
4690,402515,American Beast,After finding an old storage locker filled wit...,[Horror],"[terror, horror, fear, wood, grove, bosque]","[{""cast_id"": 0, ""character"": ""James Erikson"", ...","[{""credit_id"": ""57edab3b9251416cd600077f"", ""de..."

In [20]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter!= 3:
            L.append((i['name']))
            counter+=1
        else:
            break
    return L

In [21]:
movies['cast']  = movies['cast'].apply(convert3)

In [22]:
movies.sample(3)

,movie_id,title,overview,genres,keywords,cast,crew
4338,811,Silent Running,In a future Earth barren of all flora and faun...,"[Adventure, Drama, Science Fiction]","[space marine, sunlight, plants, space travel,...","[Bruce Dern, Cliff Potts, Ron Rifkin]","[{""credit_id"": ""52fe427ac3a36847f8021aa3"", ""de..."
125,604,The Matrix Reloaded,Six months after the events depicted in The Ma...,"[Adventure, Action, Thriller, Science Fiction]","[saving the world, artificial intelligence, ma...","[Keanu Reeves, Carrie-Anne Moss, Laurence Fish...","[{""credit_id"": ""52fe425cc3a36847f80182ff"", ""de..."
1943,27360,King's Ransom,Hoping to foil his own gold-digging wife's pla...,"[Comedy, Crime]","[caper, action]","[Anthony Anderson, Jay Mohr, Kellita Smith]","[{""credit_id"": ""52fe4544c3a368484e050669"", ""de..."

In [23]:
def fetch_dir(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append((i['name']))
            break
    return L

In [24]:
movies['crew']  = movies['crew'].apply(fetch_dir)

In [25]:
movies.sample()

,movie_id,title,overview,genres,keywords,cast,crew
3351,57119,Jumping the Broom,Two very different families converge on Martha...,[Comedy],"[african american, wedding, class differences,...","[Paula Patton, Julie Bowen, Meagan Good]",[Salim Akil]

In [26]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [27]:
movies.sample(3)

,movie_id,title,overview,genres,keywords,cast,crew
2761,238603,Earth to Echo,"[After, a, construction, project, begins, digg...","[Family, Adventure, Science Fiction]","[alien, found footage]","[Teo Halm, Astro, Resse Hartwig]",[Dave Green]
2483,19994,Jennifer's Body,"[A, newly, possessed, cheerleader, turns, into...","[Comedy, Horror]","[bloodthirstiness, high school, sexual murder,...","[Megan Fox, Amanda Seyfried, Johnny Simmons]",[Karyn Kusama]
4464,279759,Harrison Montgomery,"[Film, from, Daniel, Davila]",[],[],[],[]

In [28]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ", "") for i in x])

In [29]:
movies.sample(3)

,movie_id,title,overview,genres,keywords,cast,crew
1403,5516,The Ladykillers,"[An, eccentric,, if, not, charming, Southern, ...","[Comedy, Crime, Thriller]","[churchchoir, hidingplace, garbage, duringcred...","[TomHanks, IrmaP.Hall, MarlonWayans]",[JoelCoen]
2837,13812,Quarantine,"[A, television, reporter, and, her, cameraman,...","[Horror, ScienceFiction, Thriller]","[quarantine, remake, tvreporter, foundfootage,...","[JenniferCarpenter, SteveHarris, JayHernandez]",[JohnErickDowdle]
284,39451,Little Fockers,"[It, has, taken, 10, years,, two, little, Fock...","[Comedy, Romance]","[nurse, cat, father-in-law, vomit, kidsandfami...","[RobertDeNiro, BenStiller, OwenWilson]",[PaulWeitz]

In [30]:
movies['tags'] = movies['overview']+ movies['genres'] + movies['keywords'] + movies['keywords'] + movies['crew']

In [31]:
movies.sample(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
3827,35032,The Pirate,"[A, girl, is, engaged, to, the, local, richman...","[Music, Romance]","[musical, pirate]","[JudyGarland, GeneKelly, WalterSlezak]",[VincenteMinnelli],"[A, girl, is, engaged, to, the, local, richman..."

In [32]:
new_df = movies[['movie_id', 'title', 'tags']]

In [33]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [34]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\MSI\AppData\Local\Temp/ipykernel_8868/3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [35]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [36]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

C:\Users\MSI\AppData\Local\Temp/ipykernel_8868/1380776331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

In [37]:
new_df.sample(3)

,movie_id,title,tags
138,10196,The Last Airbender,"the story follows the adventures of aang, a yo..."
4416,41830,The Party's Over,an american businessman visits london and is h...
2636,42188,Never Let Me Go,"as children, kathy, ruth, and tommy spend thei..."

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

C:\Users\MSI\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [39]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [40]:
vector.shape

(4806, 5000)

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

In [42]:
similarity = cosine_similarity(vector)

In [43]:
similarity

array([[1.        , 0.03592106, 0.02993422, ..., 0.0263386 , 0.03320903,
        0.        ],
       [0.03592106, 1.        , 0.03333333, ..., 0.01466471, 0.        ,
        0.        ],
       [0.02993422, 0.03333333, 1.        , ..., 0.01833089, 0.        ,
        0.        ],
       ...,
       [0.0263386 , 0.01466471, 0.01833089, ..., 1.        , 0.06100889,
        0.05557462],
       [0.03320903, 0.        , 0.        , ..., 0.06100889, 1.        ,
        0.04671418],
       [0.        , 0.        , 0.        , ..., 0.05557462, 0.04671418,
        1.        ]])

In [44]:
new_df[new_df['title'] == 'The Lego Movie'].index[0]

744

In [45]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [50]:
movie = input("Enter a movie: ")
print("Recommendations for {}:".format(movie))
recommend(movie)

Recommendations for Batman:
Batman
Batman & Robin
Batman Returns
Batman Begins
The Dark Knight